/cloud_functions/splitter/__pycache__*
/cloud_functions/video_dubber/__pycache__*
/cloud_functions/video_dubber/tmp
/terraform/.terraform
/terraform/.terraform*
/terraform/terraform.tfstate*
/terraform/copycat*
/terraform/terraform.tfvars.local
/lib*
.temp
